body {
    background-image: url('background-image.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    background-size: 100% 40%;
}

.button {
    background-color: blueviolet;
    color: white;
    border-radius: 5%;
}

.display-card {
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 1%;
    padding: 1%;
}

.container {
    margin: 11%;
}

.gutter-space {
    margin-top: 1%;
}

.image {
    margin-top: 4%;
    margin-left: 11%;
    width: 5%;
    height: 5%
}

.title {
    margin-top: -3%;
    margin-left: 76%;
}